

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #59009A;
    font-style: italic;
  }
  
 
  
  body {
    font-family: sans-serif;
    margin: 0;
    position: absolute;
    padding: 0;
    background-color: #fffcfc;
    width: 100%;
    left: 0%;
  }
  
  .arriba {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      padding: 20px;
      border-bottom: 1px solid #333;
  }
  .logo {
      display: flex;
      align-items: center;
  }
  .logo img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
  }
  .logo h1 {
      margin: 0;
  }
  .user {
      display: flex;
      align-items: center;
      margin: 0px;
  }
  .user a {
      margin-right: 20px;
      color: #59009A;
      text-decoration: none;
    
      margin-inline-start: auto;
  }
  .user img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  .nav {
    color: #59009A;
    position: relative;
    margin-left: auto;
    margin-right: 100px;
    
    }
    
    .submenu {
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    top: 24px;
    left: 0px;
    width: auto;
    }
    
    .nav:hover .submenu {
    display: flex;
    }
    
    .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .submenu li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    }
    
    .submenu li:hover {
    background-color: #f0f0f0;
    }
  
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
      background-color: #fffcfc;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
  
    .nav {
      display: flex;
      align-items: center;
    }
    
    .nav a {
      margin-right: 20px;
      color: #59009A;
      text-decoration: none;
    }
    
    .nav img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    
  .sidebar-container {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    width: 100px; /* Ajusta el ancho según tus necesidades */
  }


  .sidebar .options,
  .sidebar .icons {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    width: 80px; /* Ajusta el ancho según tus necesidades */
  }

  .sidebar .options{
    position: relative;
  }
  
  .sidebar .options button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold; 
    width: 100%;
  }

  .sidebar .options-menu{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: row;
    background: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: -1;
    z-index: 10;
  }

  .sidebar .options:hover .options-menu{
    display: flex;
  }

  .sidebar .options-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .sidebar .options-menu li{
    padding: 10px;
    border-right: 1px solid #ddd;
    cursor: pointer;
  }

  .sidebar .options-menu li:hover{
    background-color: #f0f0f0;
  }
  
  .sidebar .icons {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(40px, auto);
    grid-gap: 10px;
  }
  
  .sidebar .icons i {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .icons i:nth-child(odd) {
    margin-top: 0; /* Asegura que los iconos en posiciones impares no tengan margen superior adicional */
  }
  
  .sidebar .icons i:nth-child(even) {
    margin-top: 20px; /* Asegura que los iconos en posiciones pares estén más abajo */
  }
  
  .content {
    position: relative;
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    height: 485px;
  }

  .card {
    position: absolute; /* Posiciona la tarjeta absolutamente */
    top: 50%; /* Ajusta la posición desde el top del contenedor */
    left: 50%; /* Ajusta la posición desde el left del contenedor */
    transform: translate(-50%, -50%); /* Centra la tarjeta horizontal y verticalmente */
    background: #fff;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    width: 80%; /* Ajusta el ancho de la tarjeta */
    max-width: 800px; /* Limita el ancho máximo de la tarjeta */
    padding: 20px;
    height: auto; /* Ajusta la altura según el contenido */
}

.card-logo img {
    width: 100%;
    height: 100px;
    margin-left: 12px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-titulo h1 {
    font-size: 20px;
    margin: 0;
}

.card-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group .contenido{
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.card .contenido img{
  width: 100%;
  height: 100%;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    max-height: 200px;
    resize: vertical; /* Permite redimensionar solo verticalmente */
}

form button {
  width: 100px;
  align-self: end;
    background-color: #59009A;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4a0080;
}

.card-social {
    display: none; /* Oculta la sección de redes sociales */
}


  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
  }
  
  .bloque {
    width: 309px;
    height: 182px;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .bloque img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .bloque p {
    font-size: 16px;
    margin-bottom: 0;
  }
  



    footer {
        background-color: #59009A;
        color: #ffffff;
        padding: 10px;
    }
    
    .footer-container {
        display: flex;
        padding: 0;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    
    .contact-item {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        text-align: center;
    }
    
    .contact-item span {
        margin-bottom: 5px;
    }
    
    .iconos {
        display: flex;
        justify-content: center;
    }
    
    .iconos a {
        margin: 0 10px;
    }
    
    .iconos img {
        width: 24px;
        height: 24px;
    }
    
    .quienes-somos {
        align-self: center;
        color: #ffffff;
        text-decoration: none;
        margin-left: auto;
    }